In [1]:
import pandas as pd

In [4]:
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [5]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [ ]:
##Q1

In [10]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
##Q2

In [13]:
## .iloc[][]- it takes row values in terms of index as well as column values in terms of index
## .loc[][] - It takes roow values in terms of index but column value in their actual forms


df.iloc[0:3,[0]]

        course_name
0      Data Science
1  Machine Learning
2          Big Data

In [14]:
df.loc[0:3,['course_name']]

        course_name
0      Data Science
1  Machine Learning
2          Big Data
3     Data Engineer

In [ ]:
## Q3

In [15]:
reindex = [3,0,1,2]

new_df = df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [16]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [17]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [18]:
## .iloc is showing the system's inside index's value
## .loc is showing the reindexed value

In [ ]:
## Q4

In [19]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [20]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.516831  0.075035  0.367558  0.486596  0.742033  0.876758
2  0.300447  0.847278  0.951645  0.436930  0.538533  0.223109
3  0.142335  0.389125  0.892469  0.135576  0.814465  0.991159
4  0.221578  0.013320  0.177396  0.907468  0.961753  0.908350
5  0.796066  0.262310  0.986741  0.935694  0.101708  0.193012
6  0.323329  0.000774  0.585789  0.391072  0.534863  0.330475

In [25]:
print(df1['column_1'].mean())
print(df1['column_2'].mean())
print(df1['column_3'].mean())
print(df1['column_4'].mean())
print(df1['column_5'].mean())
print(df1['column_6'].mean())

0.3834309398259566
0.2646403286409789
0.6602661966925657
0.5488895364678573
0.6155592370210835
0.5871438978164424

In [26]:
df1.mean()

column_1    0.383431
column_2    0.264640
column_3    0.660266
column_4    0.548890
column_5    0.615559
column_6    0.587144
dtype: float64

In [27]:
df1['column_2'].std()

0.32363753471339923

In [35]:
df1.loc[2,['column_2']]='sting'

In [38]:
#print(df1)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.516831  0.075035  0.367558  0.486596  0.742033  0.876758
2  0.300447     sting  0.951645  0.436930  0.538533  0.223109
3  0.142335  0.389125  0.892469  0.135576  0.814465  0.991159
4  0.221578   0.01332  0.177396  0.907468  0.961753  0.908350
5  0.796066   0.26231  0.986741  0.935694  0.101708  0.193012
6  0.323329  0.000774  0.585789  0.391072  0.534863  0.330475

In [39]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
## Q6

In [40]:
##
##In pandas, window functions are used to perform calculations over a specified window of data points. These functions are applied to rolling or expanding windows of data, allowing for operations such as moving averages, cumulative sums, and other calculations that depend on a subset of the data.

##Window functions are incredibly useful for time series data analysis, signal processing, and various other data manipulation tasks. They provide flexibility in analyzing data trends and patterns over different time periods or windows.

##Here are the types of window functions commonly used in pandas:

##Rolling window functions:

##These functions operate over a rolling window of fixed size defined by a specified number of periods.
##Examples include:
##rolling.mean(): Compute rolling mean.
##rolling.sum(): Compute rolling sum.
##rolling.min(), rolling.max(): Compute rolling minimum and maximum.
##rolling.std(), rolling.var(): Compute rolling standard deviation and variance.
##Expanding window functions:

##These functions operate over an expanding window that starts from the beginning of the data and gradually includes more data points.
##Examples include:
##expanding.mean(): Compute expanding mean.
##expanding.sum(): Compute expanding sum.
##expanding.min(), expanding.max(): Compute expanding minimum and maximum.
##expanding.std(), expanding.var(): Compute expanding standard deviation and variance.
##Exponentially weighted window functions:

##These functions compute weighted averages where more recent data points are given more weight.
##Examples include:
##ewm.mean(): Exponentially weighted moving average.
##ewm.min(), ewm.max(): Exponentially weighted moving minimum and maximum.
##These window functions provide powerful tools for analyzing and manipulating data, especially in time series analysis and data preprocessing tasks. They offer flexibility in defining the window size, allowing users to tailor the analysis to their specific needs.

In [ ]:
## Q7

In [42]:
Date = '2024-05-21'

Date_Final = pd.to_datetime(Date)

In [45]:
type(Date_Final)

pandas._libs.tslibs.timestamps.Timestamp

In [46]:
Date_Final

Timestamp('2024-05-21 00:00:00')

In [49]:
Date_Final.month

5

In [50]:
Date_Final.year

2024

In [ ]:
##Q8

In [52]:
import pandas as pd

def calculate_time_difference(date1, date2):
    # Convert input strings to pandas datetime objects
    date1 = pd.to_datetime(date1)
    date2 = pd.to_datetime(date2)
    
    # Calculate the timedelta
    time_difference = date2 - date1
    
    # Extract days, hours, and minutes from the timedelta
    days = time_difference.days
    hours = time_difference.seconds // 3600
    minutes = (time_difference.seconds % 3600) // 60
    
    return days, hours, minutes

# Prompt the user to enter the dates
date1_input = input("Enter the first date (YYYY-MM-DD): ")
date2_input = input("Enter the second date (YYYY-MM-DD): ")

# Calculate the time difference
days_diff, hours_diff, minutes_diff = calculate_time_difference(date1_input, date2_input)

# Display the result
print("\nDifference between the dates:")
print(f"Days: {days_diff}")
print(f"Hours: {hours_diff}")
print(f"Minutes: {minutes_diff}")

Enter the first date (YYYY-MM-DD): 2024-05-15
Enter the second date (YYYY-MM-DD): 2023-05-17

Difference between the dates:
Days: -364
Hours: 0
Minutes: 0

In [51]:
## Remenber the Question-8 you got stuck in this

In [ ]:
##Q9

In [ ]:
import pandas as pd

import pandas as pd

def read_and_convert_to_categorical(file_path, column_name, category_order):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)
    
    # Convert the specified column to categorical type with the given order
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    
    # Sort the DataFrame by the categorical column
    df_sorted = df.sort_values(by=column_name)
    
    return df_sorted

# Prompt the user to enter the file path, column name, and category order
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order_input = input("Enter the category order (comma-separated): ")

# Convert the category order input to a list
category_order = [category.strip() for category in category_order_input.split(',')]

# Read the CSV file, convert the column to categorical, and display the sorted data
df_sorted = read_and_convert_to_categorical(file_path, column_name, category_order)

# Display the sorted DataFrame
print("\nSorted DataFrame:")
print(df_sorted)

# Save the sorted DataFrame to a new CSV file (optional)
output_file_path = input("Enter the output CSV file path to save the sorted DataFrame (or press Enter to skip): ")
if output_file_path:
    df_sorted.to_csv(output_file_path, index=False)
    print(f"Sorted DataFrame saved to {output_file_path}")